
body {
    background-color: rgb(7, 7, 7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20Px;
}

marquee {
    font-size: 27px;
    display: flex;
    justify-content: center; 
    font-family: Arial, Helvetica, sans-serif;
   
}
h1{ 
   font-style: italic;
   text-decoration: underline;
   text-shadow: 10PX 7PX 20PX black;
} 
 

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: beige;
    position: fixed;
    z-index: 999;
 }
 a {
     text-decoration: none;
     color: black; 
 }  
 
 button {
   border-radius:60px 70px 40px 140px;
   background-color: blanchedalmond;
   height: 40px;
   width: 150px;
   font-size: 15px;
   border-radius: 30px;
} 
 
nav ul{
    display: flex;
    gap: 2.5rem;
    text-decoration: none;
}
li {
    display: block;
    transition: .5s;
}
ul:hover li {
    filter: blur(5px);
}
ul li:hover {
    filter: blur(0px); 
}
 
.size {
    list-style-type: none;
    position:relative;
    right:25px;
    
}
.size li{
    border: 1px solid black;
    padding:10px
}
.cart{
   position: relative;
   width: 400px;
   height: 180px;
   display: flex;
   overflow: hidden;
   transition: 0.5s ease-in-out;
   background-color: beige;
   color: black;
   flex-direction: column;
   border-radius: 10px;
   box-shadow: 0 0 15px;
   margin-top: 122px;
   text-align: center;
}
.cart:hover{
   HEIGHT: 500px;
   box-shadow: 7PX 10PX 20PX rgb(245, 243, 243);
} 
 

.cart1{
   position: relative;
   width: 420px;
   height: 180px;
   display: flex;
   overflow: hidden;
   transition: 0.5s ease-in-out;
   background-color: beige;
   color: black;
   flex-direction: column;
   border-radius: 10px;
   box-shadow: 0 0 15px;
   margin-top: 122px;
   text-align: center;
}
.cart1:hover{
   HEIGHT: 500px;
   box-shadow: 7PX 10PX 20PX rgb(59, 57, 57);
} 
 

.cart2{
   position: relative;
   width: 420px;
   height: 180px;
   display: flex;
   overflow: hidden;
   transition: 0.5s ease-in-out;
   background-color: beige;
   color: black;
   flex-direction: column;
   border-radius: 10px;
   box-shadow: 0 0 15px;
   margin-top: 122px;
   text-align: center;
}
.cart2:hover{
   HEIGHT: 500px;
   box-shadow: 7PX 10PX 20PX rgb(214, 224, 123);
} 

.cart3{
   position: relative;
   width: 420px;
   height: 180px;
   display: flex;
   overflow: hidden;
   transition: 0.5s ease-in-out;
   background-color: beige;
   color: black;
   flex-direction: column;
   border-radius: 10px;
   box-shadow: 0 0 15px;
   margin-top: 122px;
   text-align: center;
}
.cart3:hover{
   HEIGHT: 500px;
   box-shadow: 7PX 10PX 20PX rgb(245, 243, 243);
}  
.cart4{
   position: relative;
   width: 420px;
   height: 180px;
   display: flex;
   overflow: hidden;
   transition: 0.5s ease-in-out;
   background-color: beige;
   color: black;
   flex-direction: column;
   border-radius: 10px;
   box-shadow: 0 0 15px;
   margin-top: 122px;
   text-align: center;
}
.cart4:hover{
   HEIGHT: 500px;
   box-shadow: 7PX 10PX 20PX rgb(245, 156, 72);
} 
 

.cart5{
   position: relative;
   width: 400px;
   height: 180px;
   display: flex;
   overflow: hidden;
   transition: 0.5s ease-in-out;
   background-color: beige;
   color: black;
   flex-direction: column;
   border-radius: 10px;
   box-shadow: 0 0 15px;
   margin-top: 122px;
   text-align: center;
}
.cart5:hover{
   HEIGHT: 500px;
   box-shadow: 7PX 10PX 20PX rgb(245, 243, 243);
} 
 