 body{
     background-color: lightgrey;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     gap: 20px;
     min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: beige;
    position: fixed;
    z-index: 999;
 }
 a {
     text-decoration: none;
     color: black; 
 }  
 

 
nav ul{
    display: flex;
    gap: 2.5rem;
    text-decoration: none;
}
li {
    display: block;
    transition: .5s;
}
ul:hover li {
    filter: blur(5px);
}
ul li:hover {
    filter: blur(0px); 
}
.cart{
    position: relative;
    width: 300px;
    height: 180px;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: beige;
    color: black;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin-top: 122px;
    text-align: center;
    
}
.cart:hover{
    HEIGHT: 560px
} 
.size {
    list-style-type: none;
    position:relative;
    right:25px;
    
}
.size li{
    border: 1px solid black;
    padding:10px

}


.cart2{
    position: relative;
    width: 300px;
    height: 180px;
    background: #0000;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: beige;
    color: black;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin-top: 122px;
    text-align: center;
}
.cart2:hover{
    HEIGHT: 560px
} 
.size{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
} 

 .cart3{
    position: relative;
    width: 300px;
    height: 180px;
    background: #0000;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: beige;
    color: black;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin-top: 122px;
    text-align: center;
}
.cart3:hover{
    HEIGHT: 560px
} 


.cart4{
    position: relative;
    width: 300px;
    height: 180px;
    background: #0000;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: beige;
    color: black;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin-top: 122px;
    text-align: center;
}
.cart4:hover{
    HEIGHT: 560px
} 

.cart5{ 
    position: relative;
    width: 300px;
    height: 180px;
    background: #0000;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: beige;
    color: black;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin-top: 122px;
    text-align: center;
}
.cart5:hover{
    HEIGHT: 560px
} 

h1{ 
    font-style: italic;
    text-decoration: underline;
    text-shadow: 10PX 7PX 20PX black;
} 
button {
    border-radius:60px 70px 40px 140px;
    background-color: blanchedalmond;
    height: 40px;
    width: 150px;
    font-size: 15px;
    border-radius: 30px;
} 
.emplacement{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 30px;
}

.shoes{
    height: 200px;
    width: 240px;
    
}

@media screen and (max-width:650px) {

    body{
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-height: 100vh;
   }
    nav ul{
        display: flex;
        gap: 0.5rem;
        text-decoration: none;
    }
    li {
        display: block;
        transition: .3s;
    }
}