body {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20Px;
}

marquee {
    font-size: 27px;
    display: flex;
    justify-content: center; 
    font-family: Arial, Helvetica, sans-serif;
   
}
 
header{
    display: flex;
    justify-content: space-between; 
    height: 100px;
    width: 100%;
    background-color: burlywood;
    position: fixed;
 }
 .content{
     font-size: 20px;
 }
 nav ul{
     display: flex;
     gap: 2.5rem;
     text-decoration: none;
 }
 li {
     display: block;
     transition: .5s;
 }
 ul:hover li {
     filter: blur(5px);
 }
 ul li:hover {
     filter: blur(0px); 
 }
 a {
     text-decoration: none;
     color: black; 
 } 

 .cart{
    position: relative;
    width: 300px;
    height: 180px;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: burlywood;
    color: black;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin-top: 122px;
    
}
.cart:hover{
    HEIGHT: 560px
} 


.cart1{
    position: relative;
    width: 300px;
    height: 180px;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: burlywood;
    color: black;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin-top: 122px;
    
}
.cart1:hover{
    HEIGHT: 560px
} 


.cart2{
    position: relative;
    width: 300px;
    height: 180px;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: burlywood;
    color: black;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin-top: 122px;
    
}
.cart2:hover{
    HEIGHT: 560px
} 


.cart3{
    position: relative;
    width: 300px;
    height: 180px;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: burlywood;
    color: black;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin-top: 122px;
    
}
.cart3:hover{
    HEIGHT: 560px
} 

.cart4{
    position: relative;
    width: 300px;
    height: 180px;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: burlywood;
    color: black;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin-top: 122px;
    
}
.cart4:hover{
    HEIGHT: 560px
} 


.cart5{
    position: relative;
    width: 300px;
    height: 180px;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: burlywood;
    color: black;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin-top: 122px;
    
}
.cart5:hover{
    HEIGHT: 560px
} 

.top{
    height: 200px;
    width: 240px;
}
