.bags{
    display: flex;
}
h1{
    background-color: pink;
    border-radius: 45px;
    text-align: center;
}
button{
    border-radius: 45px;
    background-color: rgb(209, 140, 186);
    padding: 15px 32px;
    font-size: 15px;
    
}